
<div class="row">
  <div class="col-1">
    {{i+1}}
  </div>
  <div class="col-2">
    <img src="https://dummyimage.com/50x50/55595c/fff" />
  </div>
  <div class="col-5">
    {{articulo.nombre | uppercase}}
  </div>
  <div class="col-1">
    {{articulo.talla}}
  </div>
  <div class="col-1">
    <input type="number" value={{articulo.cantidad}}
    [(ngModel)]="articulo.cantidad" (change)="cambio($event)"  min="1" max="100" step="1" />
  </div>
  <div class="col-1">
    <span *ngIf="articulo.precioRebajado!=undefined;"
    style="text-decoration: line-through;">{{articulo.precioOriginal | simboloEuro}}</span> <span
    *ngIf="articulo.precioRebajado==undefined;">{{articulo.precioOriginal*articulo.cantidad| simboloEuro}}</span>
  <br>
  <span *ngIf="articulo.precioRebajado !=undefined" id="precioRebajado">{{articulo.precioRebajado | simboloEuro}}</span>
  </div>
  <div class="col-1"><button class="btn btn-sm btn-danger"  (click)="decirEliminar($event)" ><i class="fa fa-trash"></i></button></div>
</div>

<div class="row">
<div class="col"><hr></div>
</div>
