<form [formGroup]="form"></form>
<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>Nombre</p>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [formControlName]="'firstName'">
  </mat-form-field>
  <p>Apellido</p>
  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput [formControlName]="'lastName'">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial>{{data.buttonText}}</button>
</div>
