<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="index.html">Pull And Bear</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
      <ul class="navbar-nav m-auto">
        <li class="nav-item m-auto">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="category.html">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="product.html">Product</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="contact.html">Cart <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            placeholder="Search...">
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary btn-number">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <a class="btn btn-success btn-sm ml-3" href="cart.html">
          <i class="fa fa-shopping-cart"></i> Cart
          <span class="badge badge-light">3</span>
        </a>
      </form>
    </div>
  </div>
</nav>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Carrito Pull And Bear</h1>
  </div>
  <app-banner-component></app-banner-component>
</section>
<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="row"><div class="col"><hr></div></div>
      <div class="row">
        <div class="col-1">
          <strong>Nº</strong>
        </div>
        <div class="col-2">
          <strong>Imagen</strong>
        </div>
        <div class="col-5">
          <strong>Producto</strong>
        </div>
        <div class="col-1">
          <strong>Talla</strong>
        </div>
        <div class="col-1">
          <strong>Cantidad</strong>
        </div>
        <div class="col-1">
          <strong>Precio</strong>
        </div>
        <div class="col-1">
          <strong>Eliminar</strong>
        </div>
      </div>
      <div class="row"><div class="col"><hr></div></div>
      <app-articulos-component *ngFor="let articulo of listaArticulos; let i = index" [articulo]="articulo" [i]="i"(totalCambiado)="cambioArticulo($event)" (idEliminar)="eliminar($event)">
      </app-articulos-component>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2"></div>
        <div class="col-5"></div>
        <div class="col-1"></div>
        <div class="col-1">Envio</div>
        <div class="col-1" class="text-right">Gratis</div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2"></div>
        <div class="col-5"></div>
        <div class="col-1"></div>
        <div class="col-1"><strong>Total</strong></div>
        <div class="col-1" class="text-right"><strong>{{total | simboloEuro}}</strong></div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <button class="btn btn-block btn-light">Continue Shopping</button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="col-12 col-md">
    <p>Copyright Pull and Bear ©</p>
    <small> {{ fecha | date:'medium' }}</small>
  </div>
</footer>
